@font-face {
    font-family: 'poppins';
    src: url('poppins.woff2') format('woff2');
  }
html{
    background-color:rgb(30, 30, 30)!important;
}
.white-html{
    background-color:rgb(255, 255, 255) !important;
}
body{ 
    margin: 0; 
    font-family: "poppins" !important ;
    width: 100vw;
    min-height: 100vh; 
    font-size: large;
}
.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-v-space{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flex-h-left{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.flex-v{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.flex-v-start{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.center{
    justify-content:center;
}
.front-page{font-size: 4ch !important;}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    z-index:-2
}
.heading{
    color: white;
    font-size: 11vw;
    font-weight: 800;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color:rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.3);
}
.subheading{font-size: 6vw !important;}
.subheading2{font-size: 4vw !important; margin:0em 0em 0em 0em}
.subheading3{font-size: 30px!important;}
.subheading4{font-size: 20px !important; margin:0em 0em 0em 0em}
.instructions{font-size: 18px; margin:0em 0em 0em 0em}
.button1{
    font-family: "poppins"; 
    align-self: center;
    width: 40vw; 
    height: 10vw;
    min-height: 6.7vmax; 
    background-color:rgba(0, 0, 0, 0.55); 
    color:white; 
    z-index:999;
    backdrop-filter: blur(5px);
    font-size: 3.6vw;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.3);
}
.button2{
    font-family: "poppins"; 
    width: auto;
    height: auto;
    padding-inline:0.4em;
    padding-block:0.2em;
    background-color:rgba(0, 0, 0, 0.35); 
    color:white; 
    z-index:999;
    backdrop-filter: blur(5px);
    font-size: 0.8em;
    border: none;
    border-radius: 0.3em;
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.3);
}
.button3{
    width:140px;
    height: 50px;
    min-height: 0;
    font-size: 16px;
}
button:active{
    animation: button-press 0.3s linear 1;
}
@keyframes button-press{
    0%{transform: scale(0.95);}
    50%{transform: scale(1);}
    100%{transform: scale(0.95);}
}
.button-green{
    width:240px;
    height: 80px;
    font-size: 26px;
    font-weight: bold;
    background-color:hsl(141, 76%, 47%); 
}
/* .button1:hover,.button2:hover{
    background-color:rgba(30, 30, 30, 0.40); 
    transition: 0.2s;
} */
.button1:disabled,.button2:disabled{
    color:rgb(58, 58, 58); 
    background-color:rgba(53, 53, 53, 0.308);
}
.form{    min-height: 60vh;}
.pad-10pct{padding: 0 10% 0 10%;}
.pad-10pct-v{padding: 5vh 0 5vh 0 ;}
.pad-10pct-vw{padding: 10vw 0vw 10vw 0vw ;}
.pad-05em{padding: 0.5em}
.pad-1em{padding: 1em}
.mar-05em{margin: 0.5em}
.mar-1em{margin: 1em}
.mar-b20{margin-bottom: 20px;}
/*input[type="checkbox"]{
    height: 1.5em; 
    width: 1.3em; 
    margin-right: 0.9em;}*/
input[type="text"]{
    font-family: "poppins"; 
    font-size: 1em;
    padding: 0.3em 0.6em 0.3em 0.6em;
    box-shadow: inset 0 0px 5px rgb(0 0 0 / 0.4);
    border: none;
    border-radius: 0.3em;
    background-color:rgba(0, 0, 0, 0.35);
    color:white;
}
.lobby-text-input{
    width: 200px;
}
input[type="text"]#game_name{
    font-size: 1em;
}
input[type="text"]:disabled {background-color:rgba(97, 97, 97, 0.523);}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
  }
input[type="range"]{
    accent-color: rgb(255, 255, 255);
}
.label1{margin-top: 10px;
margin-bottom: 0 !important;}
.required{
    colour:red !important;
}
output{
    margin-left: 1em;
}
.margin-v{
    margin: 0.3em 0em 0.3em 0em
}
.option{
    /* border: 0.1em solid black; */
    font-size: 1em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}
.small-option{
    font-size: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
.td-right{text-align: right;}
.td-left{text-align: left;}
.selected{
    background-color: rgb(80, 80, 241) !important;
    color: white;
}
.vw40{width:40%}
.vw86{width:86%}
.vh40{width:40%}
p{margin:0}
td p, td strong, .game-details p{
    font-size: 14px;
}
td strong{    padding: 0.2em 0.5em 0.2em 0.5em;}
.lobby{
    background-color: rgb(73, 255, 237);
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
    background-repeat: repeat;
    background-attachment:scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (min-width: 768px) {
    .lobby, .lobby2{
        width: 768px;
        margin-inline: auto;
    }
}
.zbehind{z-index:-1}
table, th, td, tr {
    border:none;
    /* border: 0.1em solid black; */
    border-spacing: 0px;
    border-collapse:collapse
}
.no-border, .no-border.th, .no-border.td {
    border: none
}
.border{ border:  solid rgba(0, 0, 0, 0.20) 1px}
.vmar{margin:0.8em 0em 0.8em 0em}
.vmar-tiny{margin:0.2em 0em 0.2em 0em}
.mt--1{margin-top: 0.2em !important;
    margin-left: -3em !important;}
.vmar2{margin:2em 0em 2em 0em}
.pad-lr{padding:0em 0.4em 0em 0.4em}
.slight-v-gradient{
    /* backdrop filter that is a gradient of brightness */
    background: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: brightness(1.05);
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.07),rgba(255, 255, 255, 0.17)); */
}
.name_input{
    max-width: 70vw;
    width: 21em !important 
}
.invisible{visibility:hidden}
.name-big{
    font-size:8vw;
    white-space: pre-wrap;
}
.name-big-big{
    font-size:2.2em !important;
    white-space: pre-wrap;
}
.white{color:rgb(255, 255, 255)}
.team-players-table{display: block;}
.team-players-table td{display: inline-block;}
.dice{
    height: 2.1em; 
    width: 2.1em; 
    filter:invert(100%);
    margin-top: 0.2em;
}
.dice-button{
    height: 3em;
    width: 3em;
    background-color:rgba(0, 0, 0, 0.55);
    margin-left: 0.6em;
}
.write-names-p{font-size: auto ;}
.self-centered{align-self: center;}
.text-centered{text-align: center;}
.no-mar-top{margin-top: 0 !important;}

/*button correct animation*/
.correct{
    animation: correct 0.4s;
    animation-iteration-count: 1;
}
@keyframes correct {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/*background that took me way too long*/
.my{background: linear-gradient(-10deg,rgb(192, 45, 114), rgb(251, 62, 62));}
.team{background: linear-gradient(-10deg,rgb(255, 180, 0), rgb(212, 255, 0));}
.not{background: linear-gradient(-10deg,rgb(0, 255, 191),rgb(135, 129, 255));}
.rainbow-gradient-bg{
    box-shadow: inset 0 0 2em 1em rgba(0, 0, 0, 0.1);
    background: linear-gradient(55deg,rgb(192, 45, 114), rgb(251, 62, 62), rgb(255, 180, 0),rgb(246, 255, 0), rgb(0, 255, 191),rgb(186, 129, 255),rgb(254, 153, 200));
    background-size: 260% 260%;
}
@keyframes animate-your-team{
    0%{background-position: 0% 100%;
        background-size: 260% 260%;}
    100%{background-position: 50% 50%;
        background-size: 220% 220%;}
}
@keyframes animate-your-not{
    0%{background-position: 0% 100%;}
    100%{background-position: 100% 0%;}
}
@keyframes animate-team-not{
    0%{background-position: 50% 50%;
        background-size: 220% 220%;}
    100%{background-position: 100% 0%;
        background-size: 260% 260%;}
}
@keyframes animate-team-your{
    0%{background-position: 50% 50%;
        background-size: 220% 220%;}
    100%{background-position: 0% 100%;
        background-size: 260% 260%;}
}
@keyframes animate-not-team{
    0%{background-position: 100% 0%;
        background-size: 260% 260%;}
    100%{background-position: 50% 50%;
        background-size: 220% 220%;}
}
@keyframes animate-not-your{
    0%{background-position: 100% 0%;}
    100%{background-position: 0% 100%;}
}
@keyframes animate-not-your-not{
    0%{background-position: 100% 0%;}
    50%{background-position: 0% 100%;}
    100%{background-position: 100% 0%;}
}

.animate-your-team{
    background-position: 50% 50%;
    background-size: 220% 220%;
    animation: animate-your-team 4s ease 1;
}
.animate-your-not{
    background-position: 100% 0%;
    animation: animate-your-not 4s ease 1;
}
.animate-team-not{
    background-position: 100% 0%;
    animation: animate-team-not 4s ease 1;
}
.animate-team-your{
    background-position: 0% 100%;
    animation: animate-team-your 4s ease 1;
}
.animate-not-team{
    background-position: 50% 50%;
    background-size: 220% 220%;
    animation: animate-not-team 4s ease 1;
}
.animate-not-your{
    background-position: 0% 100%;
    animation: animate-not-your 4s ease 1;
}
.animate-rainbow{
    background-position: 0% 100%;
    animation: animate-not-your-not 25s cubic-bezier(.35,0,.65,1) infinite;
}






/*toggle switch*/
.switch { margin: 0em 0.6em 2px 4px; position: relative; display: inline-block; width: 45px; height: 26px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(72, 72, 72, 0.676); -webkit-transition: .2s; transition: .2s; border-radius: 2px; 
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.3);}
.slider:before { position: absolute; content: ""; height: 18px; width: 18px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .2s; transition: .2s; border-radius: 2px;}
input:checked + .slider { background-color: rgba(0, 0, 0, 0.2) }
input:focus + .slider { box-shadow: 0 0 1px linear-gradient(to bottom right, #e0e0e0, #F7F7F7); }
input:checked + .slider:before { -webkit-transform: translateX(19px); -ms-transform: translateX(19px); transform: translateX(19px); }

/*toggle switch smaller*/
.switch2 { margin: 0em 0.6em 2px 4px; position: relative; display: inline-block; width: 36px; height: 20px; }
.switch2 input { opacity: 0; width: 0; height: 0; }
.slider2 { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(72, 72, 72, 0.676); -webkit-transition: .2s; transition: .2s; border-radius: 2px; 
    box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.3);}
.slider2:before { position: absolute; content: ""; height: 14px; width: 14px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .2s; transition: .2s; border-radius: 2px;}
input:checked + .slider2 { background-color: rgba(0, 0, 0, 0.2) }
input:focus + .slider2 { box-shadow: 0 0 1px linear-gradient(to bottom right, #e0e0e0, #F7F7F7); }
input:checked + .slider2:before { -webkit-transform: translateX(15px); -ms-transform: translateX(15px); transform: translateX(15px); }

/* background-image: linear-gradient(30deg, rgb(214, 174, 196) 12%, transparent 12.5%, transparent 87%, rgb(214, 174, 196) 87.5%, rgb(214, 174, 196)),
linear-gradient(150deg, rgb(214, 174, 196) 12%, transparent 12.5%, transparent 87%, rgb(214, 174, 196) 87.5%, rgb(214, 174, 196)),
linear-gradient(30deg, rgb(214, 174, 196) 12%, transparent 12.5%, transparent 87%, rgb(214, 174, 196) 87.5%, rgb(214, 174, 196)),
linear-gradient(150deg, rgb(214, 174, 196) 12%, transparent 12.5%, transparent 87%, rgb(214, 174, 196) 87.5%, rgb(214, 174, 196)),
linear-gradient(60deg, rgb(80, 80, 241) 25%, transparent 25.5%, transparent 75%, rgb(80, 80, 241) 75%, rgb(80, 80, 241)),
linear-gradient(60deg, rgb(80, 80, 241) 25%, transparent 25.5%, transparent 75%, rgb(80, 80, 241) 75%, rgb(80, 80, 241));
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */


/* background-image: linear-gradient(30deg, #ffb100 12%, transparent 12.5%, transparent 87%, #ffb100 87.5%, #ffb100),
linear-gradient(150deg, #ffb100 12%, transparent 12.5%, transparent 87%, #ffb100 87.5%, #ffb100),
linear-gradient(30deg, #ffb100 12%, transparent 12.5%, transparent 87%, #ffb100 87.5%, #ffb100),
linear-gradient(150deg, #ffb100 12%, transparent 12.5%, transparent 87%, #ffb100 87.5%, #ffb100),
linear-gradient(60deg, rgb(241, 220, 80) 25%, transparent 25.5%, transparent 75%, rgb(241, 220, 80) 75%, rgb(241, 220, 80)),
linear-gradient(60deg, rgb(241, 220, 80) 25%, transparent 25.5%, transparent 75%, rgb(241, 220, 80) 75%, rgb(241, 220, 80));
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */


/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body            { font-family: "Helvetica"; background: rgb(133, 61, 227); }

h1              { font-family: "Poppins"; margin: 0 0 0 0.1em; color: white;}

h3              { margin-top: 0;}

label           { margin-left: 0.35em; }

progress        { border-radius: 7px; width: 35vw; height: 22px; box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); }
progress::-webkit-progress-bar { background-color: rgba(83, 83, 83, 0.35); border-radius: 7px; }
progress::-webkit-progress-value { background-image: linear-gradient(10deg, rgb(133, 61, 227), rgba(108, 234, 183, 1)); border-radius: 7px; }

.title          { padding: 0.8em; background-color: rgb(29, 15, 51); color: white; display: flex; place-content: center; }
.logo           { height:50px; margin-top: 0.1em}

.hero           { font-size: 1.4em; padding: 2.85em; }

.frame            { box-shadow: 0 3px 10px rgb(0 0 0 / 0.3); }

.centered       { display: flex; place-content: center; flex-direction: row}
.centered2      { display: flex; place-content: center; flex-direction: column}
.centered3      { position: absolute; left: 50%; top: 35%; transform: translate(-50%, -50%);}

.date           { font-family: "Poppins"; font-size: 0.9em; text-align: center; width: 9em; border-radius: 0.3em; border-width: 0; padding: 0.2em;
                  background-image: linear-gradient(to bottom right, #e0e0e0, #F7F7F7); margin: 0 0 2em 1.2em}
.date:hover,
.date:focus     { background-image: linear-gradient(to bottom right, #ECECEC, #ffffff); color: #4d4d4d;}

.checkbox-line  { display: flex; place-content: left; flex-direction: row; margin: 0 0 .3em 1em; width: 10em; }

button          { background-color: rgb(29, 15, 51); font-family: "Poppins"; font-size: 1em; color: white; border-width: 0; 
                  border-radius: 0.6em; padding: 0.4em 0.9em; font-weight: 600; margin: 3em 0 2em 0;}
button:hover,
button:focus    { background-color: rgb(52, 39, 71); cursor: pointer; color: #bdbdbd;}

.page           { margin: 2em auto; width: 30em; background: white; }

.status         { text-align: left; margin: 0; }
.status>li      { margin:0 0 0.4em 2em; font-size: 0.8em; font-weight: 400; }

input[type='checkbox'] {accent-color: rgb(108, 234, 183); width:20px; height:20px; margin-top: 0.5em}
input[type='checkbox']:hover { cursor: pointer; }
*/
/*
blue violet = rgb(133, 61, 227)
GT Purple = rgb(97, 45, 127)
Dark Purple = rgb(29, 15, 51)
Dark Orchid = rgb(175, 36, 209)
Teal = rgb(0, 167, 181)
Reef rgb(80, 80, 241) = rgb(108, 234, 183) #6CEAB7
Warm Grey = rgb(203, 196, 188)
bg="#393939"; 
bg2="#202020"; 
fg="#B4B4B4"; 
hl="#853DE3"*/
