<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>The Name Game</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- <script type="text/javascript" src="{{ url_for('static',filename='react.production.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='react-dom.production.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='babel.min.js') }}"></script> -->
        
    </head>
    <body class="lobby2 flex-v rainbow-gradient-bg animate-rainbow" id="body"> 
        <h1 class="heading subheading3" id="heading">CREATE GAME</h1>
        <form id="form" class="flex-v form pad-10pct" action="{{ url_for('add_game')}}" method="post">
            <!-- <div id="app"></div> -->
            <div class="">
                <h1 class="heading subheading4" id="subheading_settings">SETTINGS</h1>
                <br>
                <label for="game_name" class="label label1">Game Name:</label>
                <input class="input" type="text" id="game_name" name="game_name" placeholder="Insert Name Here" value="" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Insert Name Here'" maxlength="40">
                    <label for="number_teams" class="label label1">Number of Teams:</label>
                <div class="flex-h-left">
                    <input class="range" type="range" id="number_teams" name="number_teams" value="2" max="5" min="1" oninput="this.nextElementSibling.value = this.value">
                    <output>2</output>
                </div>
                <label for="number_names" class="label label1">Each Player Will Submit _ Names:</label>
                <div class="flex-h-left">
                    <input type="range" id="number_names" name="number_names" value="10" max="16" min="1" oninput="this.nextElementSibling.value = this.value">
                    <output>10</output>
                </div>
                <label for="time_limit" class="label label1">Turn Time Limit (s):</label>
                <div class="flex-h-left">
                    <input type="range" id="time_limit" name="time_limit" value="60" max="120" min="10" oninput="this.nextElementSibling.value = this.value">
                    <output>60</output>
                </div>
                <br>
            </div>
            <div class="">
                <h1 class="heading subheading4" id="subheading rounds">ROUNDS</h2>
                <br>
                <div class="flex-h-left margin-v">
                    <label class="switch"><input type="checkbox" id='round1' name="round1" checked=True><span class="slider round"></span></label>
                    <label for="round1" class="label">Round 1: &nbsp; Unlimited</label>
                </div>
                <div class="flex-h-left margin-v">
                    <label class="switch"><input type="checkbox" id='round2' name="round2" checked=True><span class="slider round"></span></label>
                    <label for="round2" class="label">Round 2: &nbsp; 3 Words Max</label>
                </div>
                <div class="flex-h-left margin-v">
                    <label class="switch"><input type="checkbox" id='round3' name="round3" checked=True><span class="slider round"></span></label>
                    <label for="round3" class="label">Round 3: &nbsp; 1 Word Only</label>
                </div>
                <div class="flex-h-left margin-v">
                    <label class="switch"><input type="checkbox" id='round4' name="round4" checked=True><span class="slider round"></span></label>
                    <label for="round4" class="label">Round 4: &nbsp; Mime</label>
                </div>
            </div>
        </form>
        <div class="flex-h py-6 pad-10pct pad">
            <button class="button1 button3" onclick="submit()" id="create_game">Create Game</button>
            <button class="button1 button3" onclick="location.href='/';" id="home">Home</button>
        </div>
    </body>
    <!-- <script type="text/babel">
        function App() {

            const [notifState, setNotifState] = React.useState({
                message: "",
                isSuccess: true,
                isVisible: false,
            })

            const notification = (
                <div class="position-top mt-5" id="notification">
                    <div class={`notification ${notifState.isSuccess ? "is-success" : "is-danger"} blurry has-text-left px-6 ${notifState.isVisible ? "" : "is-hidden"}`}>
                        <button class="delete" onClick={() => {
                            setNotifState({
                                ...notifState,
                                isVisible: false,
                            })
                        }}></button>
                        {notifState.message}
                    </div>
                </div>
            )

            return (
                <div>
                    {notification}
                </div>
            )
        }
        ReactDOM.render(<App />, document.querySelector("#app"))

    </script> -->

    <script>
        function submit(){
            var all=[]
            for(var x of [1,2,3,4]){ 
                checked = document.getElementById(`round${x}`).checked
                if (Boolean(checked)){
                    all.push(checked)
                }
            }
            if(all.length !== 0){
                game_name = document.getElementById('game_name').value
                if(game_name.length !== 0){
                    // if(!game_name.includes("'")){
                        document.getElementById("form").submit()
                    // } else {alert("single quote character (') is not allowed")}
                } else {alert("Enter the name of the game")}
            } else {alert("you can't have zero rounds")}
        }
    </script>
</html>
        
