<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta property="og:title" content="NameGame">
        <meta property="og:description" content="A multiplayer game for mobiles. Describe and guess than names of famous people and characters.">
        <meta property="og:image" content="{{ url_for('static', filename='favicon.ico') }}">
        <title>NameGame</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="preload" as="style" type= "text/css" href= "{{ url_for('static',filename='bulma.min.css') }}">
        <script defer type="text/javascript" src="{{ url_for('static',filename='socket.io.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='react.production.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='react-dom.production.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='babel.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static',filename='chart.js') }}"></script>
    </head>
    <body class="lobby2 flex-v rainbow-gradient-bg animate-rainbow">
        <h1 class="heading front-page" id="heading">THE NAME GAME</h1>
        <button class="button1 button3" onclick="location.href='create_game';" id="create_game">Create Game</button>
        <button class="button1 button3" onclick="location.href='join_game';" id="join_game">Join Game</button>
        <button class="button2 self-centered" onclick="location.href='readme';" id="readme">Readme</button>
        <button class="button2 self-centered" onclick="location.href='other';" id="other">Other</button>
    </body>
</html>
