<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>The Name Game</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body class="lobby2 flex-v rainbow-gradient-bg animate-rainbow">
        <h1 class="heading front-page">THE NAME GAME</h1>
        <button class="button1 button3" onclick="location.href='create_game';">Create Game</button>
        <button class="button1 button3" onclick="location.href='join_game';">Join Game</button>
        <button class="button2 self-centered" onclick="location.href='readme';">Readme</button>
    </body>
</html>
        