<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>The Name Game</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='socket.io.js') }}"></script>
    </head>
    <body class="lobby2 flex-v rainbow-gradient-bg animate-rainbow"> 
        <h1 class="heading subheading3">JOIN GAME</h1>
        <div class="flex-v form pad-10pct">
            <div class="flex-v-start"> 
                <h1 class="heading subheading4">SELECT A GAME</h1>
                <div class="text-box" id="games">
                {% for id, name in games %}
                    <div class="option slight-v-gradient" onclick="option_select(this)" id="option{{id}}">
                        <input type="hidden" value="{{id}}">
                        {{name}}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex-h center">
            <button class="button1 button3 mar-1em" onclick="submit()">Join Game</button>
            <button class="button1 button3 mar-1em" onclick="submit(true)">Delete Game</button>
        </div>
        <div class="flex-h center">
            <button class="button1 button3 mar-1em" onclick="location.href='join_game';">Refresh</button>
            <button class="button1 button3 mar-1em" onclick="home()">Home</button>
        </div>
    </body>
    <script>
        var socket
        $(document).ready(function(){
            socket = io.connect(window.origin, {query:"game_id=join"})

            socket.on('refresh_join_game', function(msg) {
                console.log("refresh_join_game")
                location.reload();
            })

        })

        var selected_option = ''
        function option_select(elem){
            if(selected_option){selected_option.classList.remove("selected")}
            selected_option = document.getElementById(elem.id)
            selected_option.classList.add("selected")
        }
     
        function submit(delete_=false){
            game_id = ''
            options = document.getElementById("games").children
            for(var x of options){if (x.classList.contains('selected')){game_id = x.children[0].value}}
            if (game_id === ''){alert("select one")}
            else { 
                if (delete_){
                    socket.emit('delete_game',game_id)
                    socket.emit('deletion_kick',game_id,'{{username}}')
                    socket.emit('refresh_join_game')
                } else { 
                    location.href=`join_game/${game_id}`;
                }
            }
        }
        function home(){
            socket.disconnect()
            location.href='/';
        }

    </script>
</html>
        