<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <title>NameGame</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='socket.io.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='react.production.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='react-dom.production.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='babel.min.js') }}"></script>
    </head>
    <div id="app"></div>

    <script type="text/babel">
        function App() {
            var time_limit = {{game_deets['time_limit']}}
            const [state, setState] = React.useState({
                userID: {{user_id}},
                teamID: {{team_id}},
                myTurn: false,
                currentRound: {{game_deets['round']}},
                roundTexts: {1:'Round 1: \xa0Unlimited',2:'Round 2: \xa03 Words Max',3:'Round 3: \xa01 Word Only',4:'Round 4: \xa0Mime'},
                currentPlayerID: null,
                currentTeamID: null,
                currentPlayer: null,
                teammates: [],
                players: {{players|safe}},
                numPlayers: {{numPlayers}},
                teams: {{teams|safe}},
                teammembers: {{teammembers|safe}},
                turnOrder: null,
                turnStarted: false,
                doneButtonEnabled: true,
                whosUpVisible: true,
                startButtonEnabled: true,
                prevPhase: -1,
                phase: -1,
                toggleQueue: true,
                audio1: new Audio(`/static/start/0.mp3`),
                audio2: new Audio(`/static/start/1.mp3`),
            })
            const [countdown, setCountdown] = React.useState(time_limit)
            const [name, setName] = React.useState(null)
            var current_name, previous_name, current_turn_user_id, current_team_id, teams, players, start_mp3, finish_mp3, teammembers, teammates, is_new_round, start_or_stop, stop_mp3, current_round
            var audio3 = new Audio(`/static/Ding.mp3`)
            const nameRef = React.useRef()
            const socket = React.useRef()
            const interval = React.useRef()
            const myTurnRef = React.useRef()
            const numPlayersRef = React.useRef()
            const audio1 = React.useRef(new Audio(`/static/start/0.mp3`))
            const audio2 = React.useRef(new Audio(`/static/start/0.mp3`))
            React.useEffect(()=>{nameRef.current = name},[name,state.myTurn])
            React.useEffect(()=>{myTurnRef.current = state.myTurn},[state.myTurn])
            React.useEffect(()=>{numPlayersRef.current = state.numPlayers},[state.numPlayers])
            //React.useEffect(()=>{audio1.current = state.audio1},[state.audio1])
            //React.useEffect(()=>{audio2.current = state.audio2},[state.audio2])
            React.useEffect(()=>{
                
                const newSocket = io.connect(window.origin, {query:"game_id={{game_id}}"})

                newSocket.onAny((eventName, ...args) => {console.log(eventName, args)})

                newSocket.on('emit_teams',function(msg) { 
                    teams = msg 
                    setState(prevState=>({
                        ...prevState,
                        teams: teams,
                    }))
                }) 

                newSocket.on('emit_players',function(msg) { 
                    players = msg[0]
                    teammembers = msg[1]
                    setState(prevState=>({
                        ...prevState,
                        players: msg[0],
                        numPlayers: Object.keys(players).length,
                        teammembers: msg[1],
                    }))
                }) 

                newSocket.on('emit_current_turn',function(msg) {
                    current_turn_user_id = msg[1]
                    current_team_id = msg[0]
                    
                    setState(prevState=>{
                        var current_player = prevState.players[current_turn_user_id]
                        var my_turn = current_turn_user_id === prevState.userID
                        var my_teams_turn = current_team_id === prevState.teamID
                        var new_phase = getPhaseNumber(current_player, my_teams_turn, my_turn)
                        teammates = JSON.parse(JSON.stringify(prevState.teammembers[current_team_id])).filter(x=>x!==current_turn_user_id)
                        //if (my_turn && prevState.myTurn){ your_turn() } // fixes bug where single player gets stuck in limbo because audio is null and doesnt get refreshed
                        return {
                            ...prevState,
                            currentPlayerID: current_turn_user_id,
                            currentTeamID: current_team_id,
                            currentPlayer: current_player,
                            teammates: teammates,
                            myTurn: my_turn,
                            prevPhase: prevState.phase==new_phase ? prevState.prevPhase : prevState.phase, //this log is to handle the case of mulitple runs of this function, which would accidentally flushing prevPhase
                            phase: new_phase
                        }
                    })
                }) 

                newSocket.on('emit_current_round',function(msg) {
                    current_round = msg[0] ; is_new_round = msg[1]
                    setState(prevState=>({
                        ...prevState,
                        currentRound: current_round,
                    })) 
                    if (is_new_round){
                        endCountdown()
                        location.href="/graphs/{{game_id}}"
                    }
                }) 

                newSocket.on('advance_game_emit',function(msg) {
                    location.href='/name_game/{{game_id}}';
                }) 

                newSocket.on('emit_next_name',function(name_data) {
                    if (name_data == "no more names"){
                        concede(true)
                    } else {
                        setName(name_data)
                        nameRef.current = name_data
                    }
                })

                newSocket.on('your_turn',function(msg) {
                    setState(prevState=>({
                        ...prevState,
                        myTurn: true,
                    }))
                })

                newSocket.on('start_timer',function(msg) {
                    if(!myTurnRef.current){
                        console.log("this should only run for idle players",myTurnRef.current)
                        startCountdown(false)
                    }
                })

                newSocket.on('stop_timer',function(msg) { endCountdown() }) 

                newSocket.on('get_mp3_number',function(msg) {
                    const [startOrStop, mp3Num] = [msg['start_or_stop'], msg['mp3_number']]
                    const i = ["stop","start"].indexOf(startOrStop)
                    const newAudio = new Audio(`/static/${startOrStop}/${mp3Num}.mp3`) 
                    i ? audio1.current = newAudio : audio2.current = newAudio
                }) 

                newSocket.on('alert',function(msg) { 
                    alert(msg);
                    if (msg == "ERROR: there is an ongoing turn"){
                        setState(prevState=>({
                            ...prevState,
                            doneButtonEnabled: false,
                        }))
                    }
                })

                newSocket.on('deletion_kick',function(msg) {
                    alert(msg)
                    location.href='/';
                }) 

                newSocket.on('emit_turn_order',function(msg) { 
                    var arr = []
                    const teamsArray = msg['teams_array']
                    var currentTeam = msg['current_team']
                    const numTeams = msg['number_teams']
                    var currentPlayerIndex, currentTeamObj, currentUserID, playersArray
                    var teamsObjs = teamsArray.map((team_id)=>{return msg["teams_player_order"].find((x)=>x.team_id==team_id)})
                    const numPlayers = numPlayersRef.current
                
                    for (var i=0; i<numPlayersRef.current; i++){
                        currentTeamObj = teamsObjs[currentTeam]
                        currentPlayerIndex = [currentTeamObj['current_player']]
                        playersArray = currentTeamObj['players_array']
                        currentUserID = playersArray[currentPlayerIndex]
                        arr.push(currentUserID)
                        currentTeamObj['current_player'] = (currentTeamObj['current_player'] + 1) % currentTeamObj['number_players']
                        currentTeam = (currentTeam + 1) % numTeams
                    }
                    setState(prevState=>({
                        ...prevState,
                        turnOrder: arr,
                    }))
                })

                newSocket.emit("emit_current_turn","{{game_id}}",state.userID)
                newSocket.emit("emit_turn_order","{{game_id}}",state.userID)

                socket.current = newSocket
                
            },[])

            React.useEffect(()=>{
                socket.current.emit("emit_turn_order","{{game_id}}",state.userID)
            },[state.currentPlayer])

            function test_emit_turn_order(){
                socket.current.emit("emit_turn_order","{{game_id}}",state.userID)
            }

            function endCountdown(){
                clearInterval(interval.current)
                setCountdown(time_limit)
            }

            function score_answer(name_id, is_success){
                socket.current.emit("score_answer","{{game_id}}",state.userID,name_id,is_success)
            }
            
            function your_turn() {
                socket.current.emit("get_mp3_number",state.userID,"start")
                socket.current.emit("get_mp3_number",state.userID,"stop")
                endCountdown()
                setState(prevState=>({
                    ...prevState,
                    whosUpVisible: false,
                    startButtonEnabled: true,
                }))
            }
            React.useEffect(()=>{
                if (state.myTurn){
                    your_turn()
                }
            },[state.myTurn])

            function decrementCountdown(is_player=true){
                setCountdown((prev) => {
                    if(prev === 0) {
                        endCountdown();
                        if(is_player){
                            end_turn()
                        } else {
                            socket.current.emit("emit_current_turn","{{game_id}}",state.userID)
                        }
                        return null
                    }
                    return prev - 1;
                });
            }

            function startCountdown(is_player=true){
                    if (interval.current){endCountdown()}//handles infinite loop issue
                    interval.current = setInterval(() => {
                    decrementCountdown(is_player);
                    }, 1000);
                };

            function start() {
                setState(prevState=>({
                    ...prevState,
                    startButtonEnabled: false,
                }))
                audio1.current.addEventListener('ended', startAfterAudio)
                audio1.current.play()
            }

            const startAfterAudio = React.useCallback(()=>{
                audio1.current.removeEventListener('ended', startAfterAudio)
                audio1.current = null
                socket.current.emit("emit_next_name","{{game_id}}",state.userID)
                socket.current.emit("start_timer","{{game_id}}",state.userID)
                startCountdown()
                setState(prevState=>{
                    // if (!prevState.myTurn) {
                    //     console.error("this should not be happening")
                    //     setTimeout(function() { alert("name appeared when it's not your turn") }, 1)
                    //     //console.log("audio1.current's event listener:", getEventListeners(audio1.current))
                    //     return prevState
                    // }

                    return {
                        ...prevState,
                        turnStarted: true,
                        startButtonEnabled: true,
                    }
                })
            })

            function done() {
                audio3.play()
                document.getElementById("done_button").blur()
                score_answer(nameRef.current.name_id, 1)
                socket.current.emit("emit_next_name","{{game_id}}",state.userID)
                setState(prevState=>({
                    ...prevState,
                    doneButtonEnabled: false,
                }))
                setTimeout(()=>{
                    setState(prevState=>({
                        ...prevState,
                        doneButtonEnabled: true,
                    })
                )}, 500)
            }

            function end_turn(names_ran_out=false) {
                audio2.current.play()
                score_answer(nameRef.current.name_id, 0)
                setState(prevState=>({
                    ...prevState,
                    turnStarted: false,
                    myTurn: false,
                }))
                if (!names_ran_out){
                    socket.current.emit('advance_turn',"{{game_id}}",state.userID) //if names run out and round ends, then advance_turn is handled in app.py > emit_next_name() - 
                }
            }

            function concede(names_ran_out=false) {
                socket.current.emit('stop_timer',"{{game_id}}",state.userID)
                endCountdown()
                end_turn(names_ran_out)
                if (!names_ran_out){console.log("conceded")}
            }

            function getPhaseNumber(currentPlayer, myTeamsTurn, myTurn){
                if (currentPlayer === null){ return -1}
                if(myTeamsTurn) {
                    if(myTurn) {return 0}
                    else {return 1}
                } else{ return 2}
            }
            
            function getTextForTheName(){
                if (state.turnStarted & name!=null){
                    return name.name
                }
                switch(state.phase){
                    case 0: return "Your Turn"
                    case 1: return state.currentPlayer+"'s Turn\nYou're Guessing"
                    case 2: return state.currentPlayer+"'s Turn"
                    default: return ""
                }
            }

            function phaseTranslate(phase){
                switch(phase){
                    case 0: return "your"
                    case 1: return "team"
                    default: return "not"
                }
            }

            function getBackground(){
                var pp = state.prevPhase
                const p = state.phase
                if (pp==-1 & p==2){
                    pp = 0
                }
                return `animate-${phaseTranslate(pp)}-${phaseTranslate(p)}`
            }

            const toggleQueue = (
                <span>
                    <label class="switch mt--1">
                        <input type="checkbox" id='q' name="q" checked={state.toggleQueue} onClick={()=>{setState(prevState=>({
                            ...prevState,
                            toggleQueue: !prevState.toggleQueue,
                        }))}}/><span class="slider round"></span>
                    </label>
                </span>
            )

            return (
                <body id="body" class={`lobby2 flex-v rainbow-gradient-bg ${getBackground()}`}> 
                    {!state.myTurn && <h1 id="heading" class="heading subheading3">THE NAME GAME</h1>}

                    <div class="flex-v">
                        <h1 id="round" class="heading subheading4">
                            {state.roundTexts[state.currentRound]}
                        </h1>
                    </div>
                    
                    <div class="flex-v">
                        <h1 id="the_name" class={`heading subheading3 pad-10pct-v name-big${state.myTurn?"-big":""}`}>{getTextForTheName()}</h1>
                        {state.myTurn && <button id="done_button" class={`button1 button3 button-green ${state.doneButtonEnabled?"":"correct"} ${state.turnStarted?"":"invisible"} mar-b20`} onClick={done} disabled={!state.doneButtonEnabled}>THEY GOT IT</button>}
                        <h1  class="heading subheading4">⏱<span id="countdown">{countdown}</span></h1>
                    </div>
                    
                    {state.turnOrder && !state.myTurn && <table>
                        <th class="heading subheading4">
                            {toggleQueue}
                            Queue
                        </th>
                        {state.toggleQueue && state.turnOrder.map((player_id) => {
                            return (
                                <tr class="white text-centered option small-option slight-v-gradient" id="current_player">
                                    <p class={`${state.currentPlayerID===player_id?"my":state.teammates.find(x=>x===player_id)?"team":"not"}`}>{player_id===state.userID?<strong>You</strong>:state.players[player_id]}</p>
                                </tr>
                            )
                        })}
                    </table>}
                    {state.turnOrder && state.myTurn && state.teammates.length!==0 && <table>
                        <th class="heading subheading4">
                            {toggleQueue}
                            Teammates
                        </th>
                        {state.toggleQueue && state.teammates.map((teammate) => {
                            if (teammate!==state.userID){
                                return (
                                    <tr class="white text-centered option small-option slight-v-gradient" id="current_player">
                                        <p class="team">{state.players[teammate]}</p>
                                    </tr>
                                )
                            }
                        })}
                    </table>}

                    {state.myTurn && <div class="flex-h mar-1em">
                        <button id="start_button" class="button1 button3" onClick={start} disabled={!state.myTurn|state.turnStarted|!state.startButtonEnabled}>Start</button>
                        <button id="concede_button" class="button1 button3" onClick={()=>{concede(false)}} disabled={!state.myTurn|!state.turnStarted}>End</button>
                    </div>}
                    <div class="flex-h mar-1em">
                        <button class="button2" onClick={()=>{location.href='/';}}>Home</button>
                        {/* <button class="button2" onClick={()=>{console.log("state",state)}}>Print state</button>
                        <h1>{state.phase==-1?"null":state.phase}</h1>
                        <h1>{state.prevPhase==-1?"null":state.prevPhase}</h1> */}
                        {/*<button class="button2" onClick={test_emit_turn_order}>test_emit_turn_order</button>*/}
                    </div>
                </body>
            )
        }
        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>
    
</html>
        
