<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>The Name Game</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='socket.io.js') }}"></script>
    </head>
    <body id="body" class="flex-v-space lobby"> 
        <h1 id="heading" class="heading subheading">THE NAME GAME</h1>

        <div class="flex-v">
            <h1 id="round" class="heading subheading">
                {% if game_deets['round'] == 1 %}
                    Round 1: &nbsp;Unlimited
                {% elif game_deets['round'] == 2 %}
                    Round 2: &nbsp3 Words Max
                {% elif game_deets['round'] == 3 %}
                    Round 3: &nbsp1 Word Only
                {% elif game_deets['round'] == 4 %}
                    Round 4: &nbspMime
                {% endif %}
            </h1>
        </div>
        
        <div class="flex-v">
            <h1 id="the_name" class=" heading subheading pad-10pct-v name_big">&nbsp;</h1>
            <button id="done_button" class="button1 invisible" onclick="done()" disabled>They Guessed It</button>
            <h1  class="heading subheading">Timer<br><span id="countdown">{{game_deets['time_limit']}}</span></h1>
        </div>

        <!-- TODO: show turn order of players -->
        <div id="whos_up" class="flex-v pad-10pct">
            <p class="white" id="current_player" class=""></p>
            <p class="white" id="current_team" class=""></p>
        </div>

        <div class="flex-h mar-1em">
            <button id="start_button" class="button1" onclick="start()" disabled>Start</button>
            <button id="concede_button" class="button1" onclick="concede()" disabled>Concede</button>
        </div>
        <div class="flex-h mar-1em">
            <button class="button2" onclick="location.href='/';">Home</button>
        </div>
    </body>
    <script>
        var socket
        var current_name
        var previous_name
        var interval
        var current_turn_user_id
        var current_team_id
        var teams
        var players
        var my_turn = false
        var start_mp3
        var finish_mp3
        var current_round = parseInt("{{game_deets['round']}}")
        var audio1 = new Audio(`/static/start/0.mp3`);
        var audio2 = new Audio(`/static/stop/0.mp3`);

        $(document).ready(function(){
            socket = io.connect(window.origin, {query:"game_id={{game_id}}"})

            socket.on('advance_game_emit',function(msg) {
                alert("game started")
                location.href='/name_game/{{game_id}}';
            }) 

            socket.on('emit_next_name',function(name_data) {
                if (name_data == "no more names"){
                    concede(names_ran_out=true)
                }
                document.getElementById("the_name").innerHTML = name_data['name']
                current_name = name_data
            })

            socket.on('your_turn',function(msg) {
                if (!my_turn){
                    your_turn()
                }
            })

            socket.on('emit_current_turn',function(msg) {
                current_turn_user_id = msg[1]
                current_team_id = msg[0]
                document.getElementById("current_player").innerHTML = "Current Player: " + players[current_turn_user_id]
                document.getElementById("current_team").innerHTML = "Team: " + teams[current_team_id]
                if (`${current_turn_user_id}` === "{{user_id}}"){
                    if (!my_turn){
                        your_turn()
                        document.getElementById("the_name").innerHTML = "Your Turn"
                    }
                }
                else if (`${current_team_id}` === "{{team_id}}"){
                    document.getElementById("body").classList.add("myteam-background")
                    document.getElementById("the_name").innerHTML = players[current_turn_user_id] + "'s Turn<br>You're Guessing"
                } else {
                    document.getElementById("body").classList.remove("myteam-background")
                    document.getElementById("the_name").innerHTML = players[current_turn_user_id] + "'s Turn"
                }

            }) 

            socket.on('emit_teams',function(msg) { teams = msg }) 

            socket.on('emit_players',function(msg) { players = msg[0] }) 

            socket.on('emit_current_round',function(msg) {
                current_round = msg[0] ; is_new_round = msg[1]
                round_texts = {1:'Round 1: &nbspUnlimited',2:'Round 2: &nbsp3 Words Max',3:'Round 3: &nbsp1 Word Only',4:'Round 4: &nbspMime'}
                document.getElementById("round").innerHTML = round_texts[current_round]
                if (is_new_round){location.href="/graphs/{{game_id}}"}
                
            }) 

            socket.on('start_timer',function(msg) {
                if(!my_turn){
                    var count = parseInt("{{game_deets['time_limit']}}")
                    document.getElementById('countdown').innerHTML=count;
                    count--;
                    interval = setInterval(function(){
                        document.getElementById('countdown').innerHTML=count;
                        count--;
                        if (count <= -1){
                            document.getElementById('countdown').innerHTML='0';
                            socket.emit("emit_current_turn","{{game_id}}","{{user_id}}")
                            clearInterval(interval);
                        }
                    }, 1000)
                }
            })

            socket.on('stop_timer',function(msg) { 
                clearInterval(interval) 
                document.getElementById('countdown').innerHTML='0';
            }) 

            socket.on('get_mp3_number',function(msg) {
                start_or_stop = msg['start_or_stop']
                if(start_or_stop==="start"){
                    start_mp3 = msg['mp3_number']
                    audio1 = new Audio(`/static/start/${start_mp3}.mp3`);
                }
                if(start_or_stop==="stop"){
                    stop_mp3 = msg['mp3_number']
                    audio2 = new Audio(`/static/stop/${stop_mp3}.mp3`);
                }
                
            }) 

            socket.emit("emit_teams","{{game_id}}","{{user_id}}")
            socket.emit("emit_players","{{game_id}}","{{user_id}}")
            socket.emit("emit_current_turn","{{game_id}}","{{user_id}}")
            socket.emit("emit_current_round","{{game_id}}","{{user_id}}")
            
        })


        function score_answer(name_id, is_success){
            socket.emit("score_answer","{{game_id}}","{{user_id}}",name_id,is_success)
        }

        function your_turn() {
            my_turn = true
            socket.emit("get_mp3_number","{{user_id}}","start")
            socket.emit("get_mp3_number","{{user_id}}","stop")
            document.getElementById("start_button").removeAttribute("disabled")
            document.getElementById("body").classList.add("myturn-background")
            document.getElementById("whos_up").classList.add("invisible")
        }

        function start() {
            document.getElementById("start_button").setAttribute("disabled",'')
            document.getElementById("done_button").removeAttribute("disabled")
            audio1.addEventListener('ended', function(){
                socket.emit("emit_next_name","{{game_id}}","{{user_id}}")
                document.getElementById("concede_button").removeAttribute("disabled")
                document.getElementById("done_button").classList.remove("invisible")
                var count = parseInt("{{game_deets['time_limit']}}")
                socket.emit("start_timer","{{game_id}}")
                document.getElementById('countdown').innerHTML=count;
                count--
                interval = setInterval(function(){
                    document.getElementById('countdown').innerHTML=count;
                    count--;
                    if (count <= -1){
                        document.getElementById('countdown').innerHTML='0';
                        end_turn()
                        clearInterval(interval);
                }
            }, 1000)
            })
            audio1.play()
        }

        function done() {
            document.getElementById("done_button").blur()
            score_answer(current_name['name_id'], is_success=1)
            previous_name = current_name
            socket.emit("emit_next_name","{{game_id}}","{{user_id}}")
            document.getElementById("done_button").setAttribute("disabled","")
            setTimeout(()=>{
                document.getElementById("done_button").removeAttribute("disabled")
                document.body.click()
            }, 400)

        }

        function end_turn(names_ran_out=false) {
            my_turn = false
            audio2.play()
            if (!names_ran_out){
                score_answer(current_name['name_id'], is_success=0)
                socket.emit('advance_turn',"{{game_id}}","{{user_id}}") //if names run out and round ends, then advance_turn is handled in app.py > emit_next_name() - 
            }
            document.getElementById("the_name").innerHTML = "&nbsp;"
            document.getElementById("start_button").setAttribute("disabled",'')
            document.getElementById("concede_button").setAttribute("disabled","")
            document.getElementById("body").classList.remove("myturn-background")
            document.getElementById("whos_up").classList.remove("invisible")
            document.getElementById("done_button").classList.add("invisible")
            
        }
        function concede(names_ran_out=false) {
            socket.emit('stop_timer',"{{game_id}}")
            document.getElementById('countdown').innerHTML='0';
            end_turn(names_ran_out)
            clearInterval(interval)
            if (!names_ran_out){console.log("conceded")}
        }

    </script>
</html>
        