<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta property="og:title" content="NameGame">
        <meta property="og:description" content="A multiplayer game for mobiles. Describe and guess than names of famous people and characters.">
        <meta property="og:image" content="{{ url_for('static', filename='favicon.ico') }}">
        <title>Other Projects</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="preload" as="style" type= "text/css" href= "{{ url_for('static',filename='bulma.min.css') }}">
        
    </head>
    <body class="lobby2 flex-v rainbow-gradient-bg animate-rainbow">
        <h1 class="heading front-page" id="heading">OTHER PROJECTS</h1>
        <button class="button1 button3" onclick="location.href='/change_user';" id="changeUser">Change User</button>
        <button class="button1 button3" onclick="location.href='https://tomsembl.github.io/GravitySim-CSharp/';" id="gravitySim">Gravity Sim</button>
        <button class="button1 button3" onclick="location.href='https://raw.githack.com/tomsembl/breathe/main/breathefuak.html';" id="breathe">Breathe</button>
        <button class="button2 self-centered" onclick="location.href='/';" id="home">Home</button>
    </body>
</html>
