[Unit]
Description=Namegame
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/src/namegame
ExecStart=/usr/bin/c.sh
ExecStop=/bin/tmux kill-session -t namegame
Restart=always
RestartSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
