[Unit]
Description=Namegame
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/src/namegame
ExecStart=/home/pi/src/namegame/scripts/c.sh
ExecStop=tmux kill-session -t namegame
Restart=always
RestartSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target