[Unit]
Description=Namegame
After=network.target

[Service]
ProtectHome=false
Type=simple
User=ubuntu
#WorkingDirectory=/home/ubuntu/src/namegame
ExecStart=/usr/local/bin/c.sh
ExecStop=/bin/tmux kill-session -t namegame
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
